.footer {
  font-size: var(--font-size-md);
  padding: var(--space-sm);
  color: var(--white);
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
}

.footer a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.footer a .icon {
  display: inline-block;
  width: var(--font-size-xl);
  height: var(--font-size-xl);
  background-image: url("../assets/icon-github.svg");
}
