.main-container {
  flex: 1 0 auto;
  padding: var(--space-xl);
  background-color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
}

.main-container .gameboard {
  width: calc(350px - var(--space-xl));
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: var(--space-xs);
}

.main-container .gameboard .btn-field {
  font-size: var(--font-size-xl);
}

.main-container .controls .btn-restart {
  color: var(--white);
  background-color: var(--color-secondary);
}
